services:
  vaultwarden:
    image: vaultwarden/server:latest
    restart: always
    environment:
      DOMAIN: "<type-value>"
      SIGNUPS_ALLOWED: false
      WEB_VAULT_ENABLED: false
      VIRTUAL_HOST: <type-value>
      LETSENCRYPT_HOST: <type-value>
      LETSENCRYPT_EMAIL: <type-value>
      LOGIN_RATELIMIT_MAX_BURST: <type-value>
      LOGIN_RATELIMIT_SECONDS: <type-value>
    volumes:
      - vaultwarden:/data/
    networks:
      - proxy-tier

  nextcloud-db:
    image: mariadb:10.11
    command: --transaction-isolation=READ-COMMITTED
    restart: always
    volumes:
      - nextcloud-db:/var/lib/mysql:Z
    environment:
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    env_file:
      - db.env

  nextcloud-redis:
    image: redis:alpine
    restart: always

  nextcloud-app:
    image: nextcloud:apache
    restart: always
    volumes:
      - nextcloud-app:/var/www/html:z
      # NOTE: The `volumes` config of the `cron` and `app` containers must match
    environment:
      - OVERWRITEPROTOCOL=https
      - NEXTCLOUD_TRUSTED_DOMAINS=<type-value>
      - VIRTUAL_HOST=<type-value>
      - LETSENCRYPT_HOST=<type-value>
      - LETSENCRYPT_EMAIL=<type-value>
      - MYSQL_HOST=nextcloud-db
      - REDIS_HOST=nextcloud-redis
    env_file:
      - db.env
    depends_on:
      - nextcloud-db
      - nextcloud-redis
      # Added proxy container dependency below. 
      # It is unclear on when or why it happens, but sometimes NC manages to start before the proxy 
      #  and it breaks for whatever weird reason resulting in the need of manual proxy container restart.
      - proxy
    networks:
      - proxy-tier
      - default

  nextcloud-cron:
    image: nextcloud:apache
    restart: always
    volumes:
      - nextcloud-app:/var/www/html:z
      # NOTE: The `volumes` config of the `cron` and `app` containers must match
    entrypoint: /cron.sh
    depends_on:
      - nextcloud-db
      - nextcloud-redis

  proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy"
    volumes:
      - certs:/etc/nginx/certs:ro,z
      - vhost.d:/etc/nginx/vhost.d:z
      - html:/usr/share/nginx/html:z
      - dhparam:/etc/nginx/dhparam:z
      - /var/run/docker.sock:/tmp/docker.sock:z,ro
    networks:
      - proxy-tier

  letsencrypt-companion:
    image: nginxproxy/acme-companion
    restart: always
    environment:
      - DEFAULT_EMAIL=
    volumes:
      - certs:/etc/nginx/certs:z
      - acme:/etc/acme.sh:z
      - vhost.d:/etc/nginx/vhost.d:z
      - html:/usr/share/nginx/html:z
      - /var/run/docker.sock:/var/run/docker.sock:z,ro
    networks:
      - proxy-tier
    depends_on:
      - proxy

volumes:
  vaultwarden:
  nextcloud-db:
  nextcloud-app:
  certs:
  acme:
  vhost.d:
  html:
  dhparam:

networks:
  proxy-tier:
