services:

  # proxy
  v2raya:
    image: mzz2017/v2raya:latest
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - /lib/modules:/lib/modules:ro
      - /etc/v2raya:/etc/v2raya
      - ./v2raya/geo:/usr/local/share/xray

  # password manager
  vaultwarden:
    image: vaultwarden/server:latest
    restart: always
    environment:
      DOMAIN: "<type-value>"
      SIGNUPS_ALLOWED: false
      WEB_VAULT_ENABLED: true
      LOGIN_RATELIMIT_MAX_BURST: <type-value>
      LOGIN_RATELIMIT_SECONDS: <type-value>
    volumes:
      - ./vaultwarden/data:/data/
    networks:
      - proxy-tier
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vaultwarden.rule=Host(`<type-value>`)"
      - "traefik.http.routers.vaultwarden.entrypoints=websecure"
      - "traefik.http.routers.vaultwarden.tls.certresolver=le"

  # task manager
  vikunja:
    image: vikunja/vikunja:latest
    environment:
      VIKUNJA_SERVICE_PUBLICURL: <type-value>
      VIKUNJA_DATABASE_HOST: db
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_SERVICE_ENABLEREGISTRATION: false
    env_file:
      - vikunja.env
    volumes:
      - ./vikunja/files:/app/vikunja/files
    networks:
      - proxy-tier
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.vikunja.rule=Host(`<type-value>`)"
      - "traefik.http.routers.vikunja.entrypoints=websecure"
      - "traefik.http.routers.vikunja.tls.certresolver=le"

  # file storage
  filebrowser:
    image: filebrowser/filebrowser:latest
    restart: unless-stopped
    volumes:
      - ./filebrowser/data:/srv
      - ./filebrowser/database:/database
      - ./filebrowser/config:/config
    networks:
      - proxy-tier
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.rule=Host(`<type-value>`)"
      - "traefik.http.routers.filebrowser.entrypoints=websecure"
      - "traefik.http.routers.filebrowser.tls.certresolver=le"

  # logs viewer
  dozzle:
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8888:8080
    restart: unless-stopped

  # database
  db:
    image: postgres:latest
    env_file:
      - db.env
    volumes:
      - ./db:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      start_period: 30s
    networks:
      - proxy-tier

  # reverse proxy server
  traefik:
    image: traefik:latest
    restart: always
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --api.dashboard=true
      - --api.insecure=true
      - --log.level=INFO
      - --certificatesresolvers.le.acme.tlschallenge=true
      - --certificatesresolvers.le.acme.email=<type-value>
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
    ports:
      - 80:80
      - 443:443
      - 8889:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/letsencrypt:/letsencrypt
    networks:
      - proxy-tier

  # monitoring
  uptime-kuma:
    image: louislam/uptime-kuma:beta
    volumes:
      - ./uptime-kuma/data:/app/data
    ports:
      - 8890:3001
    restart: always

networks:
  proxy-tier:
